body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
}

/* barra de menu */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
}

header {
  background-color: #2f4933d7;
  padding: 20px;
  text-align: center;
  border:#23703697 solid 1px;
}

header ul li {
  display: inline;
  margin: 0 10px;
}

.nav-menu {
  font-family: 'Arial Black', sans-serif; 
  font-size: 24px; 
  color: #ffffff; 
  background-color: #1c291e; 
  padding: 10px 20px; 
  border-radius: 10px; 
}

.nav-link {
  color: #ffffff; 
  text-decoration: none;

}

.nav-link:hover {
  color: #2c9145bb;
}

.navbar {
  text-align: center;
  padding: 10px 0;
}

.carousel{
  height: 100vh;
  margin-top: 85px;
}

.texto-encima {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color: #fff;
  text-align: center;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  background-color: #000000bb;
  
  
}
  
.texto-encima h1 {
  font-size: 100px;
  margin-top: 250px ;
  text-align: center;
}

text-encima p {
  font-size: 40px;
  text-align: center;
}

.form-select{
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.carousel-inner img {
  width: 100%; /* Ajustar el ancho del carrusel al 100% del contenedor */
  height: 100vh;; /* Mantener la proporción de la imagen */
  background-color: #000000bb;
}


/**********************************************************************************/
.contenedor-tajeta{
  display: flex;
  width: 80%;
  margin-inline-start: 10%;
  margin-inline-end: 20%; 
  padding: 20px;
  text-align: center; 

}

.Con-t{
  width: 100%;
  padding: 50px;
  
}

.col-tajeta{
  height: 200px;
  color: #333;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px 0 #0009;
  text-decoration: none;
  display: inline-table;;
  margin: 10px;
}



.card{
  display: flex;
  border-radius: 15px;
  border: none;
  background-color: #f9f9f9;

}

.card:hover{
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
  transition: background 0.3s ease, transform 0.3s ease; 
  color: #f0f0f0;
  /* transform: scale(0.9) rotate(3.5deg); /* Rotacion hacia la derecha */
   
  transform: translateY(-20px); /* Movimiento vertical*/
  
}


.card:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.1); 
  opacity: 0;
  transition: opacity 0.5s ease; 
}

.card:hover::after {
  opacity: 1; 
}


.card-body .card-text{
  font-size: 13px;
  padding: 15px;
}

.btn-color{
  height: 50px;
  width: 180px;
  margin-top: 10px;
  background-color: #105c21;
  border-style: none;
  transition: 0.4s background-color;
}

.btn-color:hover{
  background-color: #1b9936;
}



/**********************************************************************************/
/*Modal*/
/* Estilos para el modal */
.modal-content {
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.modal-header {
  background-color: #0a8829e1; 
  color: #fff; 
  border-bottom: none; 
}

.modal-title {
  font-size: 1.5rem;
}

.modal-body {
  padding: 20px; 
}

.modal-footer {
  border-top: none; 
}

.btn-secondary {
  background-color: #6c757d; 
  color: #fff; 
}

.btn-secondary:hover {
  background-color: #0091ff; 

}


/***********************************************************************************/
.somos {
  background: center / cover fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("./img/foto8.jpg");
  height: 50vh; /* Reducir la altura */
  display: flex;
  align-items: center;
}

.somos .container {
  text-align: center;
  padding: 15px;
  max-width: 1200px; /* Ampliar el ancho máximo */
  margin: auto;
}

.somos .container__title {
  color: #f0f0f0;
  font-size: 2.5rem; /* Reducir el tamaño del texto */
  text-align: center;
  padding: 15px;
}

.container__text {
  margin-top: 2%;
  padding: 0 15px;
  text-align: justify;
  color: #fff;
  font-size: 1rem; /* Reducir el tamaño del texto */
}

.Contacto {
  background: center / cover fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("./img/Fondo.jpg");
  padding: 70px;
}

.Contacto h2 {
  text-align: center;
  color: #f0f0f0;
}

.Contacto p {
  margin: 16px 0;
  color: #f0f0f0;
}

.contacto__form {
  max-width: 800px;
  margin: auto;
  padding: 18px;
  border-radius: 20px;
  box-shadow: 0 0 15px 3px #fffd;
}

/***********************************************************************************/
/* Footer */


footer {
  background-color: #0b110cd7;
  padding: 20px;
  text-align: center;
  color: #ffffff;
}

.iconos {
  font-size: 24px;
  margin: 0 10px;
  margin-top: 20px;
}

footer i {
  margin: 0 10px;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

footer ul li {
  display: inline;
  margin: 0 10px;
  font-size: 19px;
  margin-top: 10px;
}

footer p {
  margin: 3px 0;
  padding: 0;
  margin-inline-start: 11px;
}

footer a:hover {
  color: #2c9145bb;
}
